body {
  background-color: var(--bg-color);
}

.container {
  max-width: 970px;
  margin: 0 auto;
  padding: 0 20px 0 20px;
}

a {
  text-decoration: none;
  color: unset;
}

li {
  list-style: none;
  color: unset;
}

html {
  scroll-behavior: smooth;
}
