.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 390px;
  height: 940px;
  width: 100%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}
.card__title {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
  color: var(--black);
  position: relative;
}
.card__desc {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: var(--black);
  margin: 60px 0;
}
.card__img {
  max-width: 390px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.card__title::before {
  content: "01";
  position: absolute;
  font-weight: 400;
  font-size: 150px;
  line-height: 150%;
  top: -135px;
  left: 0;
  color: var(--lightgreen);
  z-index: -10;
  opacity: 0.4;
}

.cards .card:nth-child(2) .card__title {
  text-align: end;
}

.cards .card:nth-child(2) .card__title::before {
  content: "02";
  position: absolute;
  font-weight: 400;
  font-size: 150px;
  line-height: 150%;
  top: -135px;
  left: 0;
  color: var(--lightgreen);
  z-index: -10;
  opacity: 0.4;
}

.cards .card:nth-child(3) .card__title::before {
  content: "03";
  position: absolute;
  font-weight: 400;
  font-size: 150px;
  line-height: 150%;
  top: -135px;
  left: 15px;
  color: var(--lightgreen);
  z-index: -10;
  opacity: 0.4;
}

.card:nth-child(2) {
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

@media (max-width: 1200px) {
  .card {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
