.header {
  height: 85px;
}

.header__wrapper {
  display: flex;
  height: 85px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 80px;
  height: 25px;
  fill: var(--lightgreen);
}

.header__nav {
}

.header__nav-list {
  display: flex;
  gap: 72px;
}

.header__nav-item {
  font-weight: 500;
  font-size: 20px;
  color: var(--black);
}

.Header__btn {
}

.btn {
  color: var(--bg-white);
  width: 183px;
  height: 51px;
  outline: none;
  background-color: transparent;
  border: none;

  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  background-color: var(--lightgreen);
  border-radius: 5px;
}

.btn__bacground {
  background-color: transparent;
  color: var(--black);
}

.header__nav-item:hover,
.btn__bacground:hover {
  color: var(--lightgreen);
  cursor: pointer;
}

@media (max-width: 1200px) {
  .header__wrapper {
    justify-content: space-around;
  }

  .header__nav-list {
    gap: 30px;
  }

  .btn {
    width: 153px;
  }
}
/* 450px
576px
768px
992px
1200px */
