.second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--bg-green);
  padding: 230px 0;
}

.second__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.second__left {
  margin-right: 46px;
}

.second__left-title {
  font-weight: 700;
  font-size: 50px;
  line-height: 157%;
  color: var(--bg-white);
  max-width: 580px;
  width: 100%;
}
.second__left-desc {
  font-weight: 600;
  font-size: 25px;
  line-height: 157%;
  color: var(--bg-white);
  max-width: 580px;
  width: 100%;
  margin: 19px 0 80px 0;
}

.second__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

.second_img {
  max-width: 790px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.play {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 72px;
  max-height: 72px;
  top: calc(50% - 37px);
  left: calc(50% - 33px);
}

@media (max-width: 1200px) {
  .second {
    padding: 160px 0;
  }

  .btn {
    font-size: 16px;
  }

  .second__left-title {
    font-size: 40px;
  }
  .second__left-desc {
    font-size: 20px;
    margin: 10px 0 40px 0;
  }
}
@media (max-width: 992px) {
  .second {
    padding: 120px 0;
  }

  .btn {
    font-size: 14px;
  }

  .second__left-title {
    font-size: 28px;
  }
  .second__left-desc {
    font-size: 16px;
    margin: 10px 0 40px 0;
  }
  .second__left {
    margin-right: 15px;
  }
}
@media (max-width: 768px) {
  .second {
    padding: 100px 0;
  }

  .second__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .second__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    margin: 0 0 50px 0;
  }
}
