@import url("font.css");
@import url("variables.css");
@import url("reset.css");
@import url("basics.css");
@import url("header.css");
@import url("hero.css");
@import url("first.css");
@import url("card.css");
@import url("second.css");
